@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Semi Bold'), local('Montserrat-Semi-Bold'),
    url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Medium.woff') format('woff'),
    url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-active-blue: #0F2B5E;
  --color-blue: #1E4391;

  --color-active-green: #2C9E19;
  --color-green: #38C321;

  --color-active-yellow: #D2BD00;
  --color-yellow: #E8D31C;

  --color-active-red: #C0231F;
  --color-red: #EF302B;

  --color-black: #292929;
  --color-inactive-gray: #555555;
  --color-rate-gray: #C7C7C7;
  --color-bg-gray: #F6F6F6;
  --color-white: #FFFFFF;


  --font-size-header: 64px;
  --font-size-logo: 32px;

  --font-size-medium-big: 32px;
  --font-size-medium-middle: 24px;
  --font-size-medium-small: 16px;

  --font-size-regular: 24px;

  --font-size-semi-bold: 24px;


  --margin-bottom-title: 75px;
  --margin-left-menu: 504px;

  --border-radius: 20px;

  --list-width: 912px;
  --input-width: 293px;
  --input-height: 49px;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;

  font-size: var(--font-size-medium-middle);
  color: var(--color-black);
}

button,
input {
  transition: 0.2s;
}

.header-text {
  font-size: var(--font-size-header);
  font-weight: bold;
}

.logo-text {
  font-size: var(--font-size-logo);
  font-weight: 600;
}

.medium-big-text {
  font-size: var(--font-size-medium-big);
  font-weight: 500;
}

.medium-middle-text {
  font-size: var(--font-size-medium-middle);
  font-weight: 500;
}

.medium-small-text {
  font-size: var(--font-size-medium-small);
  font-weight: 500;
}

.regular-text {
  font-size: var(--font-size-regular);
  font-weight: normal;
}

.semi-bold-text {
  font-size: var(--font-size-semi-bold);
  font-weight: 600;
}


/* Loader - start */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  display: block;
  width: 18vw;
  height: 6px;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-gray);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--color-blue);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

/* Loader - end */


.wrapper {
  display: flex;
}

.outlet-container {
  padding: 80px 40px 80px 150px;
  width: 100%;
  margin-left: var(--margin-left-menu);
}

.rating {
  min-width: 67px;
  max-width: 67px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 7px 15px;

  color: var(--color-white);
  border-radius: var(--border-radius);
  background-color: var(--color-rate-gray);
}

.search {
  width: var(--input-width);
  height: var(--input-height);

  padding: 10px 0 10px 16px;
  padding-right: calc(16px + 21px + 5px);

  border-radius: var(--border-radius);
  background-color: var(--color-bg-gray);
  background-image: url(../assets/images/icon-search-small.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.search::placeholder {
  color: var(--color-inactive-gray);
}

.big.search {
  padding: 10px 0 10px 20px;
  padding-right: calc(20px + 27px + 5px);
  background-image: url(../assets/images/icon-search-big.svg);
}

.big.search::placeholder {
  color: var(--color-blue);
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  
  border-radius: var(--border-radius);
  color: var(--color-white);
  background-color: var(--color-blue);
}

.button.icon {
  background-color: var(--color-bg-gray);
  color: var(--color-blue);
}

.button.reset {
  background-color: var(--color-red);
}

.button.excel {
  background-color: var(--color-green);
}

.button:hover,
.button:active {
  background-color: var(--color-active-blue);
}

.reset.button:hover,
.reset.button:active {
  background-color: var(--color-active-red);
}

.excel.button:hover,
.excel.button:active {
  background-color: var(--color-active-green);
}

.icon.button:hover,
.icon.button:active {
  background-color: var(--color-blue);
  color: var(--color-bg-gray);
}

.button.disabled,
.disabled.button:hover,
.disabled.button:active {
  color: var(--color-inactive-gray);
  background-color: var(--color-bg-gray);
}

.input__wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input {
  width: var(--input-width);

  border-radius: var(--border-radius);
  padding: 10px 16px;
  background-color: var(--color-bg-gray);
}

.input::placeholder {
  color: var(--color-inactive-gray);
}

.select {
  display: flex;
  justify-content: space-between;

  border-radius: var(--border-radius);
  background-color: var(--color-bg-gray);

  width: var(--input-width);
}

.select-box {
  padding: 10px 16px;
}

.select-box.empty {
  color: var(--color-inactive-gray);
}

.select-options__wrap {
  position: relative;
}

.select-options {
  position: absolute;

  display: flex;
  width: var(--input-width);
  padding: 15px 20px;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;

  border-radius: var(--border-radius);
  background-color: var(--color-bg-gray);

  z-index: 10;

  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.select-options__wrap.open .select-options {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.select-option {
  cursor: pointer;
}

.select-icon__wrap {
  min-width: 50px;
  max-width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px;

  border-radius: var(--border-radius);
  background-color: var(--color-blue);

  z-index: 20;
}

.select-icon__wrap > svg {
  margin-top: 5px;

  transition: .1s;
}

.select-icon__wrap.open > svg {
  margin-top: 0;
  margin-bottom: 4px;

  transform: rotate(180deg);
}

/* Dropdown - start */

.dropdown__wrapper {
  display: flex;
  
}

.dropdown__title {
  width: 267px;
  margin-right: 48px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;

  height: 50px;
}

.round-btn {
  min-width: 50px;
  max-width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius);

  color: var(--color-blue);
  background-color: var(--color-bg-gray);
}

.round-btn:hover,
.round-btn:active {
  color: var(--color-bg-gray);
  background-color: var(--color-blue);
}

.round-btn > svg {
  transition: .1s;
}

.round-btn.open > svg {
  transform: rotate(180deg);
}

.tools {
  display: flex;
  align-items: center;
  gap: 24px;

  position: relative;
}

/* Filter-modal - start */

.filter-modal {
  position: absolute;
  top: 55px;
  left: 0;

  width: 300px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: var(--border-radius);
  background-color: var(--color-bg-gray);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.modal__radio-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__radio_label {
  margin-left: 10px;
}

.modal__points_label {
  margin-bottom: 20px;
}

.modal__points_range {
  max-width: 55px;

  border-radius: var(--border-radius);
  background: var(--color-white);
  padding: 10px;
}

.modal__points_range::-webkit-inner-spin-button,
.modal__points_range::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal__points_range {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.modal__buttons-wrap {
  display: flex;
  justify-content: space-between;
}

.modal__btn {
  padding: 10px;
  border-radius: var(--border-radius);

  color: var(--color-white);
}

.modal__btn[type='reset'] {
  background-color: var(--color-red);
}

.modal__btn[type='submit'] {
  background-color: var(--color-blue);
}

/* Filter-modal - end */

.dropdown__list {
  margin-bottom: 32px;
  max-width: var(--list-width);

  border-top: 1px solid var(--color-rate-gray);
}

.dropdown__item {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--color-rate-gray);

  padding: 7px 0;
}

.dropdown__item_link {
  width: 100%;
  display: block;
}

.dropdown__item_icons-wrap {
  display: flex;
  align-items: center;
  gap: 60px;
}

.dropdown__item_icons-wrap > .rating {
  margin-bottom: 7px;
}

.dropdown__save-btn {
  font-size: 20px;
  font-weight: 400;

  height: 33px;
  padding: 0 12px;

  color: var(--color-white);

  border-radius: var(--border-radius);
  background-color: var(--color-blue);
}

/* Dropdown - end */


/* List - start */

.list__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  width: 860px;
}

.list {
  display: flex;
  align-items: center;
  height: 42px;

}

.list__items_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: var(--list-width);

  margin-bottom: 35px;
}

.list__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__item_link {
  width: 100%;
  display: block;
}

/* List - end */


/* Login - start */

.login__container {
  background-color: var(--color-bg-gray);
}

.login {
  max-width: 1700px;
  margin: 0 auto;

  height: 100vh;
  display: flex;
  align-items: center;
}

.login::before {
  position: fixed;
  content: '';
  top: 0;
  right: 0;
  width: 748px;
  height: 231px;
  background: url(../assets/images/loop-2.svg) no-repeat;
}

.login::after {
  position: fixed;
  content: '';
  bottom: 0;
  left: 0;
  width: 846px;
  height: 317px;
  background: url(../assets/images/loop-1.svg) no-repeat;
}

.login__wrap {
  width: 100%;

  display: flex;
  gap: 40px;
  justify-content: space-around;
  flex-wrap: wrap;

  z-index: 1;
}

.login__greeting-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: flex-start;

  max-width: 760px;
  padding: 50px;

  border-radius: var(--border-radius);
  background-color: var(--color-blue);
  color: var(--color-white);
}

.login__auth-form {
  display: flex;
  flex-direction: column;

  width: 602px;
  padding: 40px 20px;
  border-radius: var(--border-radius);

  box-shadow: 7px 10px 10px 0px rgba(120, 120, 120, 0.25);

  background-color: var(--color-white);
}

.login-input__wrap {
  margin-bottom: 16px;
}

.login-input {
  width: 100%;
  padding: 14px 24px 12px 24px;

  color: var(--color-inactive-gray);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-inactive-gray);
}

.login-input::placeholder {
  color: var(--color-inactive-gray);
}

.error-input-msg {
  margin-top: 1px;
  margin-bottom: 9px;
  height: 20px;

  font-size: var(--font-size-medium-small);
  color: var(--color-active-red);
}

.login__submit-btn {
  padding: 13px 26px;

  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: var(--border-radius);
}

.login__submit-btn:hover,
.login__submit-btn:active {
  background-color: var(--color-active-blue);
}

.login__hint-text>a {
  text-decoration-line: underline;
  color: var(--color-blue)
}

/* Login - end */


/* Menu - start */

.menu {
  width: var(--margin-left-menu);
  height: 100vh;
  padding: 27px 40px;

  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 60px;

  background-color: var(--color-white);
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);

  z-index: 999;
}

.menu__title_wrap {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.menu__user-info_fio {
  text-align: center;
}

.menu__nav_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu__nav_list-item {
  color: var(--color-inactive-gray);
}

.menu__nav_link {
  display: flex;
  gap: 20px;
  align-items: center;

  transition: color 0.2s ease;
}

.menu__nav_link svg {
  min-width: 37px;
}

.active,
.menu__nav_link:hover {
  color: var(--color-blue);
}

/* Menu - end */


/* Institutes - start */

.institutes__title {
  margin-bottom: var(--margin-bottom-title);
}

.institutes__list {
  max-width: 1066px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.institutes__item {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  border-radius: var(--border-radius);
  background-color: var(--color-bg-gray);
  padding: 10px 15px 10px 15px;
  align-items: center;

  width: 100%;
  cursor: pointer;
}

/* Institutes - end */


/* Institute - start */

.title-block__wrap {
  margin-bottom: var(--margin-bottom-title);
}

.title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  margin-bottom: 16px;
}

.title-block__icons_wrap {
  display: flex;
  gap: 73px;
  align-items: center;
}

.title-block__edit-btn {
  display: flex;
  align-items: center;
}

/* Institute - end */


/* EditDiscipline/EditTeacher - start */

.edit__title {
  margin-bottom: var(--margin-bottom-title);
}

.edit-discipline__fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 32px;
}

.edit-discipline__fieldset:last-of-type {
  margin-bottom: 30px;
}

.edit-disipline__title {
  margin-bottom: 32px;
}

.edit__control-btns {
  display: flex;
  gap: 15px;
}

.edit__form-btns {
  display: flex;
  justify-content: space-between;
  max-width: 618px;

  margin-top: 60px;
}

.edit-teacher__fieldset {
  margin-bottom: 32px;
}

.edit-teacher__fieldset_legend {
  color: var(--color-inactive-gray);
  margin-bottom: 16px;
}

.edit-teacher__big-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.edit-teacher__fieldset_container {
  display: flex;
  gap: 165px;
}

.edit-teacher__fieldset_wrap {
  display: flex;
  gap: 165px;
}

.generate-password__wrap {
  position: relative;
}

.generate-password__inner-wrap {
  position: absolute;
  margin-top: 60px;
}


/* EditDiscipline - end */