@font-face {
  font-family: 'Raleway';
  src: local('Raleway Semi Bold'), local('Raleway-Semi-Bold'),
    url('../assets/fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Raleway-SemiBold.woff') format('woff'),
    url('../assets/fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium'), local('Raleway-Medium'),
    url('../assets/fonts/Raleway-Medium.woff2') format('woff2'),
    url('../assets/fonts/Raleway-Medium.woff') format('woff'),
    url('../assets/fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'),
    url('../assets/fonts/Raleway-Regular.woff2') format('woff2'),
    url('../assets/fonts/Raleway-Regular.woff') format('woff'),
    url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-main-blue: #366AF3;
  --color-white-on-blue: #FFFFFF;
  --color-gray-menu: #555555;
  --color-gray-item: #E7E7E7;
  --color-gray-border: #C7C7C7;

  --color-green: #38C321;
  --color-yellow: #E8D31C;
  --color-red: #FF7171;

  --margin-bottom-title: 45px;
  --margin-left-menu: 500px;

  --input-width: 270px;
}

body {
  font-family: 'Raleway';
	font-style: normal;
  font-weight: 500;

	font-size: 29px;
	color: #000000;
}

.wrapper {
  display: flex;
}

.outlet-container {
  padding: 55px 170px 55px 80px;
  width: 100%;
  margin-left: var(--margin-left-menu);
}

.title {
  font-size: 60px;
  font-weight: 600;
}

.text-menu {
  font-size: 27px;
  font-weight: 600;
}

.rating {
  min-width: 61px;
  max-width: 61px;
  height: 42px;

  font-size: 24px;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;
  border-radius: 16px;
  background-color: var(--color-green);
}

.search-small {
  width: var(--input-width);
  height: 33px;

  padding-left: 13px;
  padding-right: 44px;

  font-size: 15px;
  font-weight: 500;

  border-radius: 16px;
  background-color: var(--color-gray-item);
  background-image: url(../assets/images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.excel-btn {
  font-size: 20px;
  font-weight: 400;

  height: 33px;
  padding: 0 12px;

  color: var(--color-white-on-blue);

  border-radius: 16px;
  background-color: #41AA1C;
}

.search-small::placeholder {
  color: var(--color-main-blue);
}

/* Dropdown - start */

.dropdown__wrapper {
  display: flex;
  margin-bottom: 20px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 24px;

  height: 42px;

  cursor: pointer;
}

.dropdown__icon {
  min-width: 33px;
  max-width: 33px;
  height: 33px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-gray-item);
  border-radius: 50%;
}

.dropdown__icon.open {
  transform: rotate(180deg);
}

.tools {
  display: flex;
  align-items: center;
  gap: 24px;

  position: relative;
}

/* Filter-modal - start */

.filter-modal {
  position: absolute; 
  top: 48px;
  left: 0; 

  width: 300px; 
  padding: 30px; 

  font-size: 20px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 16px;
  background-color: var(--color-gray-item);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10; 
}

.modal__radio-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__radio_label {
  margin-left: 10px;
}

.modal__points_label {
  margin-bottom: 20px;
}

.modal__points_range {
  max-width: 55px;

  border-radius: 16px;
  background: #FFF;
  padding: 10px;
}

.modal__points_range::-webkit-inner-spin-button,
.modal__points_range::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal__points_range {
  -moz-appearance: textfield;
}

.modal__buttons-wrap {
  display: flex;
  justify-content: space-between;
}

.modal__btn {
  padding: 5px 10px;
  border-radius: 16px;

  font-size: 15px;
  font-weight: 500;
  color: var(--color-white-on-blue);
}

.modal__btn[type = 'reset'] {
  background-color: var(--color-red);
}

.modal__btn[type = 'submit'] {
  background-color: var(--color-main-blue);
}

/* Filter-modal - end */

.dropdown__list {
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 850px;

  border-top: 1px solid var(--color-gray-border);
}

.dropdown__item {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--color-gray-border);

  padding: 7px 0;
}

.dropdown__item_link {
  width: 100%;
  display: block;

  font-size: 20px;
  font-weight: 500;
}

.dropdown__item_icons-wrap {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.dropdown__tools_edit-btn {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-main-blue);

  padding-left: 12px;
  padding-right: 42px;

  height: 33px;
  border-radius: 16px;

  background-color: var(--color-gray-item);
  background-image: url(../assets/images/icon-edit.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.dropdown__save-btn {
  font-size: 20px;
  font-weight: 400;

  height: 33px;
  padding: 0 12px;

  color: var(--color-white-on-blue);

  border-radius: 16px;
  background-color: var(--color-main-blue);
}

/* Dropdown - end */


/* List - start */

.list__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  width: 860px;
}

.list {
  display: flex;
  align-items: center;
  height: 42px;

}

.list__items {
  margin-left: 10px;
  margin-bottom: 60px;
  max-width: 850px;
}

.list__subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.list__subtitle:last-of-type {
  margin-top: 30px;
}

.list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list__item:last-of-type {
  margin-bottom: 0;
}

.list__item_link {
  width: 100%;
  display: block;

  font-size: 20px;
  font-weight: 400;
}

/* List - end */


/* Login - start */

.login__container {
  background-color: #F6F6F6;
}

.login {
  max-width: 1700px;
  margin: 0 auto;

  height: 100vh;
  display: flex;
  align-items: center;  
}

.login::before {
  position: fixed;
  content: '';
  top: 0;
  right: 0;
  width: 746px;
  height: 230px;
  background-image: url(../assets/images/loop-1.svg);
}

.login::after {
  position: fixed;
  content: '';
  bottom: 0;
  left: 0;
  width: 844px;
  height: 316px;
  background-image: url(../assets/images/loop-2.svg);
}

.login__wrap {
  margin-left: 80px;
  width: 100%;
  margin-bottom: 110px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  z-index: 1;
}

.login__greeting-card {
  max-width: 662px;
  max-height: 317px;
  padding: 50px;
  border-radius: 16px;

  background-color: var(--color-main-blue);
  color: var(--color-white-on-blue);
}

.login__title {
  margin-bottom: 26px;
}

.login__text {
  font-size: 40px;
  font-weight: 500;
} 

.login__auth-form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 623px;
  padding: 40px 20px;
  border-radius: 16px;

  box-shadow: 7px 10px 10px 0px rgba(120, 120, 120, 0.25);

  font-size: 25px;

  background-color: #FFFFFF;
}

.login__auth-form_field {
  padding: 14px 24px 13px 24px;
  border-radius: 16px;

  border: 1px solid #C7C7C7;

  font-weight: 400;
}

.login__submit-btn {
  background-color: var(--color-main-blue);
  padding: 15px 29px;
  color: var(--color-white-on-blue);
  border-radius: 37px;

  font-weight: 400;
}

/* Login - end */


/* Menu - start */

.menu {
  width: var(--margin-left-menu);
  height: 100vh;
  padding: 25px 35px;

  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 65px;

  background-color: #FFFFFF;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.menu__title_wrap {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu__title {
  font-size: 32px;
  font-weight: 600;
}

.menu__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.menu__user-info_fio {
  text-align: center;
}

.menu__nav_list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menu__nav_list-item {
  color: var(--color-gray-menu);
}

.menu__nav_link {
  display: flex;
  gap: 20px;
  align-items: center;

  transition: color 0.3s ease;
}

.menu__nav_link svg {
  min-width: 37px; 
}

.active,
.menu__nav_link:hover {
  color: var(--color-main-blue);
}

/* Menu - end */


/* Institutes - start */

.institutes__title {
  margin-bottom: var(--margin-bottom-title);
}

.institutes__item {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  margin-bottom: 25px;

  border-radius: 16px;
  background-color: var(--color-gray-item);
  padding: 10px 15px 10px 15px;
  align-items: center;

  width: 100%;
  cursor: pointer;
}

/* Institutes - end */


/* Institute - start */

.title-block {
  display: flex;
  align-items: center;
  gap: 40px;

  margin-bottom: var(--margin-bottom-title);
}

/* Insstitute - end */